<div class="bg-light position-fixed" style="margin-top: 52px; min-width: 10vw">
  <section
    class="d-flex align-items-center flex-column"
    style="min-height: 100vh"
  >
    <ng-container *ngFor="let user of users">
      <div
        [routerLink]="[user._id]"
        routerLinkActive="user-active bg-white"
        class="row align-items-center my-1 ml-1 w-100"
        style="border-radius: 9px; cursor: pointer"
      >
        <img
          class="mx-2 my-2"
          src="assets/images/male-avatar.jpg"
          alt=""
          height="50"
          width="50"
          style="border-radius: 50%"
        />
        <p class="mr-3 mt-2">{{ user.username }}</p>
        <!-- <small class="mr-2 mt-2 text-black-50 align-self-start">12:00PM</small> -->
      </div>
    </ng-container>
  </section>
</div>
