<!-- <div class="d-flex mx-5">
  <input type="file" accept="image/*, video/*" class="d-none" #fileUpload />
  <div class="input-group">
    <div class="input-group-prepend">
      <button mat-flat-button color="primary" (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>
    <input
      type="text"
      placeholder="Enter message here..."
      class="form-control message-field"
    />
    <div class="input-group-append">
      <button mat-flat-button color="primary">
        <mat-icon>send</mat-icon>
      </button>
      <button mat-button color="secondary">
        <mat-icon color="primary">mic</mat-icon>
      </button>
    </div>
  </div>
</div> -->

<div class="row bg-light align-items-center" style="border-radius: 9px">
  <img
    class="mx-2 my-2"
    src="assets/images/male-avatar.jpg"
    alt=""
    height="50"
    width="50"
    style="border-radius: 50%"
  />
  <p class="mr-3 mt-2">User Name</p>
  <small class="mr-2 mt-2 text-black-50 align-self-start">12:00PM</small>
</div>
