/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* * {
  outline: 1px solid #f00 !important;
} */

app-chat-screen {
  flex: 1;
}

.login-form {
  margin-top: 4rem;
}

/* Will give all scrollbar's same styling */
*::-webkit-scrollbar {
  width: 9px;
  background-color: rgba(0, 0, 0, 0.178);
  border-radius: 100px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: rgb(6, 102, 199);
}
