/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* * {
  outline: 1px solid #f00 !important;
} */

app-chat-screen {
  flex: 1;
}

.login-form {
  margin-top: 4rem;
}

body {
  /* background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%); */
  background-image: radial-gradient(
    circle 588px at 31.7% 40.2%,
    rgba(225, 200, 239, 1) 21.4%,
    rgba(163, 225, 233, 1) 57.1%
  );
}
/* Will give all scrollbar's same styling */
*::-webkit-scrollbar {
  width: 9px;
  background-color: rgba(0, 0, 0, 0.178);
  border-radius: 100px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: rgb(6, 102, 199);
}
